//colors
$white: #fff;
$snow: #fafafa;
$quickSilver: #A0A0A0;
$JellyBean: #E56353;
$salmon: #E97f72;
$pastelPink: #F0a9a1;
$graniteGray: #686963;
$taupeGray: #91918D;
$gray: #BABAB8;

//typography -weight
$raleway: 'Raleway',
sans-serif;
$ralewayBold: 700;
$ralewayRegular: 400;
$ralewayExtraLight: 200;

//Font-Size
$fz-xx-large: 100px;
$fz-x-large: 70px;
$fz-large: 50px;
$fz-medium-l: 30px;
$fz-medium: 18px;

//screen size
$max-movil: 320px;